.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    background-color: blueviolet;
}
.navbar ul{
    display: flex;
}
.navbar .Link ,li {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
.card {
    background-color: rgb(59, 12, 73);
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: calc(100vh - 70px);
}
.card .card-item {
    padding: 20px;
    background-color: rgb(219, 244, 245);
    height: 300px;
    width: 200px;
    margin: 10px;
    color: black;
}
.card .card-img {
   width: 100%;
   height: 200px;
   border: 1px solid grey;
}
.card img {
    width: 100%;
    height: 200px;
}
button {
    background-color: brown;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}
.Link {
    margin: 0 20px;
    color: wheat;
}